{{ form_start(form) }}
    {{ form_row(form.name, {label: 'Nom'}) }}
    {{ form_row(form.description, {label: 'Description'}) }}
    {{ form_row(form.category, {label: 'Catégorie'}) }}
    {% if trick is defined %}
        {% for image in trick.images %}
            <img src="{{ asset('uploads/' ~ image.name) }}" alt="{{ image.alt }}">
        {% endfor %}
    {% endif %}
    <div id="{{ form.images.vars.id }}" data-prototype="
        <fieldset class=&quot;form-group&quot;>
            <legend class=&quot;col-form-label required&quot;>Image __name__</legend>
            <div id=&quot;{{ form.images.vars.id }}___name__&quot;>
                <div class=&quot;form-group&quot;>
                    <label for=&quot;{{ form.images.vars.id }}___name___alt&quot; class=&quot;required&quot;>Attribut alt</label>
                    <input type=&quot;text&quot; id=&quot;{{ form.images.vars.id }}___name___alt&quot; name=&quot;{{ form.images.vars.full_name }}[__name__][alt]&quot; required=&quot;required&quot; class=&quot;form-control&quot; />
                </div>
                <div class=&quot;form-group&quot;>
                    <label for=&quot;{{ form.images.vars.id }}___name___file&quot; class=&quot;required&quot;>Fichier</label>
                    <div class=&quot;custom-file&quot;>
                        <input type=&quot;file&quot; id=&quot;{{ form.images.vars.id }}___name___file&quot; name=&quot;{{ form.images.vars.full_name }}[__name__][file]&quot; required=&quot;required&quot; class=&quot;custom-file-input&quot; />
                        <label for=&quot;{{ form.images.vars.id }}___name___file&quot;  class=&quot;custom-file-label&quot;></label>
                    </div>
                </div>
            </div>
        </fieldset>">
    </div>
    {#
    <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
    </ul>
    #}
    {% do form.images.setRendered() %}
    <input type="submit" value="Valider">
{{ form_end(form) }}