{{ form_start(form) }}
    {{ form_row(form.name, {label: 'Nom'}) }}
    {{ form_row(form.description, {label: 'Description'}) }}
    {{ form_row(form.category, {label: 'Catégorie'}) }}
    {% if edit is defined %}
        {% for image in trick.images %}
            <img src="{{ asset('uploads/'~image.name) }}" alt="{{ image.alt }}" />
        {% endfor %}
    {% endif %}
    <div
        id="trick_images"
        data-index="{{ form.images.children|length }}"
        data-value="{% if trick is defined %}{{ trick.images|length }}{% endif %}"
        data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}"
    >
    </div>
    {% do form.images.setRendered %}
    <input type="submit" value="Valider">
{{ form_end(form) }}